---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
import Feature from '../components/Feature.astro';
import Motivation from '../components/Motivation.astro';
import Testimonials from '../components/Testimonials.astro';
import App from '../components/App.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<Header />
		<Feature image1='../../public/feature1.png' image2="../../public/feature2.png"
		body="Embark on a transformative journey where we go beyond fitness to redefine your well-being. Our expert trainers craft personalized programs tailored to your unique goals."
		head="Meet your new body"
		button="View the FAQ"/>
		<Motivation />
		<Feature image1='../../public/feature3.png' image2="../../public/feature4.png"
		body="Our gym, boasting premium facilities, is designed to elevate your fitness journey. From state-of-the-art equipment to personalized training programs, we are committed to providing a first-class experience, helping you achieve your health and wellness goals with unparalleled support and amenities."
		head="Premium facilities"
		button="Learn more"
		flip/>
		<Testimonials />
		<App />
	</main>
</Layout>

<style>

</style>
