---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to our products.">
	<main>
		<h1 class="text-white text-3xl">products page</h1>
	</main>
</Layout>

<style>

</style>
