---

---

<section>
  <div class="flex flex-col gap-y-4 text-section">
    <h4>Don't forget our app</h4>
    <p>
        Enhance your fitness journey with our cutting-edge gym app. Elevate your workout experience with personalized features designed to meet your fitness goals. From comprehensive exercise tracking to goal-oriented plans, our app provides a seamless and motivating environment. Stay engaged and achieve new milestones on your path to a healthier lifestyle.
    </p>
    <p class="text-white/60">Download now</p>
    <img class="app-icons" src="../../public/appicons.png" role="button" />
  </div>
  <div>
    <img class="phones" src="../../public/phones.png" />
  </div>
</section>

<style>
  section {
    height: 572px;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  p {
    max-width: 489px;
    line-height: 37px;
  }

  .phones {
    width: 597px;
  }
  .app-icons {
    width: 282px;
  }

  @media (max-width: 1024px) {
    section {
        flex-direction: column;
        height: 1000px;
    }

    .text-section{
        padding: 0 2rem 0 2rem;
    }
  }
</style>
