---

---

<footer>
  <div class="flex gap-x-12 justify-center flex-wrap gap-y-8">
    <div class="flex flex-col gap-y-4">
      <p class="logo">Good<span>lyfe</span></p>
      <p class="logo-text">
        Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam
        ac sed turpis volutpat. Cursus sed massa non nisi, placerat.
      </p>
      <div class="flex gap-x-4">
        <div
          class="bg-gray-900 w-8 h-8 rounded-full flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path>
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            <path d="M16.5 7.5l0 .01"></path>
          </svg>
        </div>
        <div
          class="bg-gray-900 w-8 h-8 rounded-full flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-slack"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 12v-6a2 2 0 0 1 4 0v6m0 -2a2 2 0 1 1 2 2h-6"></path>
            <path d="M12 12h6a2 2 0 0 1 0 4h-6m2 0a2 2 0 1 1 -2 2v-6"></path>
            <path d="M12 12v6a2 2 0 0 1 -4 0v-6m0 2a2 2 0 1 1 -2 -2h6"></path>
            <path d="M12 12h-6a2 2 0 0 1 0 -4h6m-2 0a2 2 0 1 1 2 -2v6"></path>
          </svg>
        </div>
        <div
          class="bg-gray-900 w-8 h-8 rounded-full flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-twitter-filled"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M14.058 3.41c-1.807 .767 -2.995 2.453 -3.056 4.38l-.002 .182l-.243 -.023c-2.392 -.269 -4.498 -1.512 -5.944 -3.531a1 1 0 0 0 -1.685 .092l-.097 .186l-.049 .099c-.719 1.485 -1.19 3.29 -1.017 5.203l.03 .273c.283 2.263 1.5 4.215 3.779 5.679l.173 .107l-.081 .043c-1.315 .663 -2.518 .952 -3.827 .9c-1.056 -.04 -1.446 1.372 -.518 1.878c3.598 1.961 7.461 2.566 10.792 1.6c4.06 -1.18 7.152 -4.223 8.335 -8.433l.127 -.495c.238 -.993 .372 -2.006 .401 -3.024l.003 -.332l.393 -.779l.44 -.862l.214 -.434l.118 -.247c.265 -.565 .456 -1.033 .574 -1.43l.014 -.056l.008 -.018c.22 -.593 -.166 -1.358 -.941 -1.358l-.122 .007a.997 .997 0 0 0 -.231 .057l-.086 .038a7.46 7.46 0 0 1 -.88 .36l-.356 .115l-.271 .08l-.772 .214c-1.336 -1.118 -3.144 -1.254 -5.012 -.554l-.211 .084z"
              stroke-width="0"
              fill="currentColor"></path>
          </svg>
        </div>
        <div
          class="bg-gray-900 w-8 h-8 rounded-full flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-youtube-filled"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#ffffff"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z"
              stroke-width="0"
              fill="currentColor"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="links-container flex gap-x-40 flex-wrap gap-y-8">
      <div class="flex flex-col gap-y-6">
        <p class="link-title">Quick Links</p>
        <div class="flex flex-col gap-y-4">
          <p class="link-content">Classes</p>
          <p class="link-content">Timetable</p>
          <p class="link-content">Clubs</p>
          <p class="link-content">Nutrition</p>
          <p class="link-content">Free Trial</p>
        </div>
      </div>
      <div class="flex flex-col gap-y-6">
        <p class="link-title">Guides</p>
        <div class="flex flex-col gap-y-4">
          <p class="link-content">Weight Loss</p>
          <p class="link-content">Strength Gain</p>
          <p class="link-content">Crossfit</p>
          <p class="link-content">Washbord Abs</p>
          <p class="link-content">Dieting</p>
        </div>
      </div>
      <div class="flex flex-col gap-y-6">
        <p class="link-title">Reach us</p>
        <div class="flex flex-col gap-y-4">
          <p class="link-content">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-mail-filled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#e43071"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
                  stroke-width="0"
                  fill="currentColor"></path>
                <path
                  d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg></span
            >admin@goodlyfe.com
          </p>
          <p class="link-content">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-phone-filled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#e43071"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg></span
            >+88 98765 43210
          </p>
          <p class="link-content">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-map-pin-filled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#e43071"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg></span
            >90210 Beverly Hills California USA
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row justify-around w-full footer-links px-8  lg:px-44">
    <p>© 2020 GoodLyfe. All rights reserved</p>
    <div class="flex gap-x-4">
        <a href="/terms">Terms & Conditions</a>
        <p>|</p>
        <a href="/privacy">Privacy & Policy</a>
        <p>|</p>
        <a href="/sitemap">Sitemap</a>
        <p>|</p>
        <a href="/disclaimer">Disclaimer</a>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: black;
    padding-top: 6rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
  }

  .logo {
    font-size: 25px;
    font-weight: var(--font-weight-bold);
  }

  span {
    color: var(--pink);
  }

  .logo-text {
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    width: 270px;
    line-height: 24px;
  }

  .link-title {
    font-weight: var(--font-weight-medium);
    font-size: 20px;
  }

  .link-content {
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer-links{
    font-weight: var(--font-weight-regular);
    font-size: 14px;
  }
  @media only screen and (max-width: 790px) {
    .links-container{
        padding-left: 3.8rem;
    }
  }
</style>
