---
const {text} = Astro.props
---


<button class="hyperlink">
    {text}
</button>

<style>
    button {
        width: 237px;
        height: 68px;
        border-radius: 200px;
        color: #ef3f7f;
        border: solid 2px #ef3f7f;
    }

    button:hover {
        background-color: #fef7f9;
    }

    /* Media Query for Tablet */
    @media only screen and (max-width: 768px) {
        button {
            width: 220px;
            height: 60px;
        }
    }

    /* Media Query for Mobile */
    @media only screen and (max-width: 480px) {
        button {
            width: 208px;
            height: 56px;
        }
    }
</style>