---
const {text} = Astro.props
---


<button>
    {text}
</button>

<style>
    button {
        width: 237px;
        height: 68px;
        background-color: var(--pink);
        border-radius: 200px;
        color: white;
    }

    /* Media Query for Tablet */
    @media only screen and (max-width: 768px) {
        button {
            width: 220px;
            height: 60px;
        }
    }

    /* Media Query for Mobile */
    @media only screen and (max-width: 480px) {
        button {
            width: 208px;
            height: 56px;
        }
    }
</style>