---

---

<section>
  <h2>Social</h2>
  <div class="flex gap-x-4 sm:gap-x-20">
    <div
      class="w-28 h-28 bg-white rounded-full flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-facebook"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#e43071"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
        ></path>
      </svg>
    </div>
    <div
      class="w-28 h-28 bg-white rounded-full flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-youtube"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#e43071"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
        ></path>
        <path d="M10 9l5 3l-5 3z"></path>
      </svg>
    </div>
    <div
      class="w-28 h-28 bg-white rounded-full flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-instagram"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#e43071"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
        ></path>
        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
        <path d="M16.5 7.5l0 .01"></path>
      </svg>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    height: 323px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  h2 {
    color: var(--pink);
  }

    /* Media Query for Tablet */
    @media only screen and (max-width: 1024px) {
    
  }

  /* Media Query for Mobile */
  @media only screen and (max-width: 480px) {
    
  }
</style>
