---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gym app" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --font-family: "Poppins", sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-extra-bold: 700;

    --greyOne: #252525;
    --greyTwo: #424242;
    --greyThree: #858585;
    --greyFour: #d2d2d2;
    --greyFive: #ededed;
    --pink: #e43071;
    --subPink: #ffc1d8;
    --green: #26d68a;
    --subGreen: #9be8c7;
  }

  html {
    font-family: var(--font-family);
  }

  body {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    color: #fff;
  }

  h1 {
    font-size: 70px;
    font-weight: var(--font-weight-extra-bold);
  }
  h2 {
    font-size: 60px;
    font-weight: var(--font-weight-extra-bold);
  }
  h3 {
    font-size: 48px;
    font-weight: var(--font-weight-bold);
  }
  h4 {
    font-size: 40px;
    font-weight: var(--font-weight-extra-bold);
  }
  h5 {
    font-size: 38px;
    font-weight: var(--font-weight-bold);
  }
  .subtitle {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
  }
  .body {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
  }
  .hyperlink {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
  }

  .greyOne {
    color: #252525;
  }
  .greyTwo {
    color: #424242;
  }
  .greyThree {
    color: #858585;
  }
  .greyFour {
    color: #d2d2d2;
  }
  .greyFive {
    color: #ededed;
  }
  .pink {
    color: #e43071;
  }
  .subpink {
    color: #ffc1d8;
  }
  .green {
    color: #26d68a;
  }
  .subgreen {
    color: #9be8c7;
  }

  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 46px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 12px;
    }
    h4 {
      font-size: 10px;
    }
    h5 {
      font-size: 8px;
    }
  }
</style>
